# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:

    runs-on: macos-26

    timeout-minutes: 20

    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_26.0.1.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Build and test platform independent targets on macOS
      run: xcodebuild clean build test -project TrackChart.xcodeproj -scheme CI_macOS -testPlan CI_macOS -sdk macosx -destination "platform=macOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=YES

    - name: Build and test platform specific targets on iOS
      run: xcodebuild clean build test -project TrackChart.xcodeproj -scheme CI_iOS -testPlan CI_iOS -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 17 Pro,OS=26.0.1" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=YES
